--
-- PostgreSQL database dump
--

\restrict fSWISmFb2bvU8g79gpvC5Th6wmtVFzpHP7Kwxbh5mFhrWv5tHeqIRkTqq0gJB3r

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_meta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_meta (
    key text NOT NULL,
    value jsonb NOT NULL
);


ALTER TABLE public.app_meta OWNER TO postgres;

--
-- Name: letters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.letters (
    id text NOT NULL,
    nomor text,
    perihal text,
    kategori text,
    prioritas text,
    status text,
    pembuat_id text,
    pembuat_nama text,
    pembuat_unit text,
    penandatangan_id text,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    data jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.letters OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    name text NOT NULL,
    nip text NOT NULL,
    password text NOT NULL,
    role text NOT NULL,
    avatar text,
    unit text,
    data jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: app_meta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_meta (key, value) FROM stdin;
meta	{"appName": "LetterFlow Enterprise", "resetAt": "2026-05-22T01:16:57.325Z", "resetBy": "superadmin", "createdAt": "2024-10-24T00:00:00.000Z"}
\.


--
-- Data for Name: letters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: app_meta app_meta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_meta
    ADD CONSTRAINT app_meta_pkey PRIMARY KEY (key);


--
-- Name: letters letters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letters
    ADD CONSTRAINT letters_pkey PRIMARY KEY (id);


--
-- Name: users users_nip_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_nip_key UNIQUE (nip);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_letters_data_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_letters_data_gin ON public.letters USING gin (data);


--
-- Name: idx_letters_kategori; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_letters_kategori ON public.letters USING btree (kategori);


--
-- Name: idx_letters_nomor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_letters_nomor ON public.letters USING btree (nomor);


--
-- Name: idx_letters_pembuat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_letters_pembuat ON public.letters USING btree (pembuat_id);


--
-- Name: idx_letters_perihal; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_letters_perihal ON public.letters USING btree (perihal);


--
-- Name: idx_letters_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_letters_status ON public.letters USING btree (status);


--
-- Name: idx_users_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_name ON public.users USING btree (name);


--
-- Name: idx_users_nip; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_nip ON public.users USING btree (nip);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- PostgreSQL database dump complete
--

\unrestrict fSWISmFb2bvU8g79gpvC5Th6wmtVFzpHP7Kwxbh5mFhrWv5tHeqIRkTqq0gJB3r

